<style type="text/css">
.custom{
    margin: 10px;
}
.custom ion-icon{
    font-size: 40px;
}
.table{
    font-size: 20px;
    text-align: center;
}
th{
    color: #464a7a;
}
td{
    vertical-align: middle;
    color: #464a7a;
}
.table a ion-icon{
    font-size: 25px;
}
.addNew{
    /*display: inline;*/
    /*background: #309df0;*/
    position: relative;
}
.addNew h1{
left: 10%;
}
.addNew button{
    /*position: absolute;*/
    float: right;
    border-radius: 30px;
}
.customButton{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #39cedb !important;
    o
}
.customButton h5{
    margin-top: 10px;
    color: white;
}
.content{
    margin-left: 10em;
    margin-right: 10em;
    padding: 2em;
    background: white;
    border-radius: 25px;
}
.mainBody{
    background: #f0f0f0;
}
#updatePopUp{

}

.customModal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.customModal span{
    margin-top: -20px;
}

.form-control{
    border-radius: 30px !important;
    margin-top: 10px;
    font-size: 1.5rem !important;
}

.customModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 25px;
    padding: 50px;
}

.customModal-content p{
    font-size: 30px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-footer{
    justify-content: center !important;
}

.modal-footer input{
    margin: 10px;
}

</style>