<style type="text/css">
.custom{
    margin: 10px;
}
.custom ion-icon{
    font-size: 40px;
}
.table{
    font-size: 20px;
    text-align: center;
}
th{
    color: #464a7a;
}
td{
    vertical-align: middle;
    color: #464a7a;
}
.table a ion-icon{
    font-size: 25px;
}
.addNew{
    /*display: inline;*/
    /*background: #309df0;*/
    position: relative;
}
.addNew h1{
left: 10%;
}
.addNew button{
    /*position: absolute;*/
    float: right;
    border-radius: 30px;
}
.customButton{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #39cedb !important;
    o
}
.customButton h5{
    margin-top: 10px;
    color: white;
}
.content{
    margin-left: 10em;
    margin-right: 10em;
    padding: 2em;
    background: white;
    border-radius: 25px;
}
.mainBody{
    background: #f0f0f0;
}
#updatePopUp{

}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
    background-color: rgba(0,0,0,0.4); /* <-- this is the culprit */
}
</style>